* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.app {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
.header,
.content,
.footer {
  width: 18.75rem;
  height: 31.25rem;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.3rem;
}

.content ul {
  margin-top: 5px;
}
